/*-------------------------------------------------
==============Nav Bar Section====================
-------------------------------------------------*/
nav {
	text-align: center;
	position: absolute;
	width: 40%;
	height: 55px;
	margin: 0 30%;
}
ul {
	background: rgba(0, 0, 0, .3);
	border-radius: 15px;
}
li {
	display: inline-block;
	padding: 0 30px;
	padding-top: 15px;
}
a {
	font-family: 'IM Fell English SC', serif;
	font-size: 25px;
	text-decoration: none;
	color: #fff;
	text-shadow: 3px 2px 1px #000;
}
/*-------------------------------------------------
==============Body Section====================
-------------------------------------------------*/

/*Resetting the margins and padding*/
* {
	padding: 0;
	margin: 0;
	transition: 0.3s ease;
}

/*Adding a font class*/
.fell-font {
	font-family: 'IM Fell English SC', serif;
}

/*Adding a black text shadow class*/
.txt-shadow-blk {
	text-shadow: 0px 2px 5px #000;
}
/*adding a background image to the main section*/
.main-section {
	background-image: url("../img/girlScale.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*min-height: 667px;*/
	padding-top: 68px;
}
/*adding a background image to the main section daily page*/
.main-section-daily {
	background-image: url("../img/dailyBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*min-height: 667px;*/
	padding-top: 68px;
}

/*adding a background image to the main section daily page*/
#main {
	background-image: url("../img/yearlyBG.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	/*min-height: 667px;*/
	padding-top: 68px;
}

/*adding a background img to the footer*/
footer {
	background-image: url("../img/dotsBackground.png");
	background-size: cover;
	min-height: 300px;
}

/*Adding a class to make text white*/
.text-white {
	color: #fff;
}

/*changing the font of all p tags*/
p {
	font-size: 25px;
	padding: 30px 40px;
}

/*chaning all h1 tags*/
h1 {
	margin: 0;
	font-size: 50px;
	letter-spacing: 2px;
	padding: 40px 10px;
}

/*adding padding to the footer h6*/
h6 {
	font-size: 20px;
	padding: 40px;
	line-height: 30px;
}

/*adding margin to the submit button*/
.btn {
	font-size: 20px;
	margin-top: 30px;
	background-color: #ccffcc;
	box-shadow: 3px 3px 1px #000;
}

.btn:hover {
	cursor: pointer;
	background-image: url("../img/btnBack.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position-x: center;
	text-shadow: 2px 2px 1px #fff;
}

/*adjusting the max size of the image tag*/
img {
	max-width: 350px;
	max-height: 186px;
}
/*changing the select appearance*/
select {
	background-color: #fff;
	box-shadow: 3px 3px 1px #000;
	font-size: 1.25rem;
}

select:hover {
	cursor: pointer;
	background-image: url("../img/selectBack.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}
/*changing the width of the dicription footer*/
#discription,
.sign-wrap {
	width: 80%;
	margin: 0 10%;
}
/*-----------------------------------------------------------
====================Media Queries==========================
-----------------------------------------------------------*/
@media(max-width: 768px) {
	nav {
		width: 100%;
		margin: 0;
	}
	h1 {
		margin-top: 20px;
		font-size: 2rem;
	}

	#discription,
	#sign-info,
	.sign-wrap {
		width: 90%;
		margin: 0 5%;
		padding: 0;
	}
	#discription {
		margin-top: 15px;
	}
}
